// Agrega los estilos existentes antes de realizar modificaciones



@import 'base/fonts';
@import 'utilidades/variables';
@import 'base/generales';
@import 'layout/header';
@import 'views/productos';




.logo {
  display: flex;
  flex-direction: row;

  @media (max-width: 850px) {
    flex-direction: column;
  }
}

.inicio {
  margin-bottom: 20px;
  padding: 50px;
}


#productos {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 30px;
}